<!DOCTYPE html>
<html th:replace="~{layout/baseLayout :: layout(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>학생 조회</title>
</head>
<body>
    <main>
        <h3>학생 조회</h3>
		
		<form>
			<label>학과 : </label>
			<select>
				<option>-------------선택-------------</option>
				<option th:each="department : ${departments}"
						th:text="${department.name}"></option>
			</select>
			<input type="submit" value="검색">
		</form>
	 </main>
       
</body>
</html>

